<script setup>
import axios from '@/plugins/axios.js';
import PageSize from '@/components/custom/PageSize.vue';
import { Button } from '@/components/ui/button/index.js';
import { Checkbox } from '@/components/ui/checkbox/index.js';
import { Switch } from '@/components/ui/switch/index.js'
import {onMounted, ref} from 'vue';
import {
    DropdownMenu,
    DropdownMenuContent,
    DropdownMenuItem,
    DropdownMenuTrigger,
} from '@/components/ui/dropdown-menu/index.js';
import {
    Table,
    TableBody,
    TableCell,
    TableHead,
    TableHeader,
    TableRow,
} from '@/components/ui/table/index.js';

import {
    Collapsible,
    CollapsibleContent,
    CollapsibleTrigger,
} from '@/components/ui/collapsible/index.js';

import {
    Pagination,
    PaginationEllipsis,
    PaginationFirst,
    PaginationLast,
    PaginationList,
    PaginationListItem,
    PaginationNext,
    PaginationPrev,
} from '@/components/ui/pagination/index.js';

import {
    AlertDialog,
    AlertDialogAction,
    AlertDialogCancel,
    AlertDialogContent,
    AlertDialogDescription,
    AlertDialogFooter,
    AlertDialogHeader,
    AlertDialogTitle
} from '@/components/ui/alert-dialog'

import StoreFilter from "@/components/custom/StoreFilter.vue";
import UpdateStore from "@/components/custom/UpdateStore.vue";

const data = window.__data ?? {};
const translate = data.translate;

//Параметр фильтра открыт/закрыт
const isOpen = ref(false);

const pageSize = ref(10); //Размер страницы
const totalCount = ref(null); //Общее количество элементов

const openModal = ref(false);
const deleteStoreId = ref(null);

//Текущая страница
const currentPage = ref(1);
const lastPage = ref(1);

//Основные данные с точками продаж
const stores = ref(null);
let filtersList = null;

function updateData() {
    axios.post(data.storeListUrl, {
        page: currentPage.value,
        page_size: pageSize.value,
        filters: filtersList
    })
    .then((response) => {
        stores.value = response.data.data;
        totalCount.value = response.data.total;
        lastPage.value = response.data.last_page;
    }, (response) => {
        alert(response.message);
    });
}

function updatePageSize(size)
{
    currentPage.value = 1;
    pageSize.value = size
    updateData();
}

function changeValue(index, key)
{
    const payload = {};
    payload['id'] = stores.value[index]['id'];
    payload[key] = !stores.value[index][key];

    stores.value[index]['is_changing'] = true;

    axios.post(data.simpleStoreUpdateLink, payload)
    .then(() => {
        stores.value[index][key] = !stores.value[index][key];
    }, (response) => {
        alert(response.message);
    }).finally(() => {
        stores.value[index]['is_changing'] = false;
    });
}

function setPage(page)
{
    currentPage.value = page;
    updateData();
}

function setFilters(filters)
{
    filtersList = filters;
    currentPage.value = 1;
    updateData();
}

onMounted(async () => {
    updateData();
});

function showDeleteDialogModal(deleteId)
{
    openModal.value = true;
    deleteStoreId.value = deleteId;
}

function closeDeleteDialogModal()
{
    openModal.value = false;
}

function deleteAction()
{
    openModal.value = false;
    axios.post(data.deleteStoreActionUrl, {
        id: deleteStoreId.value,
    })
    .then(() => {
        updateData();
    }, (response) => {
        alert(response.message);
    });
}

const editOrAddDialogModal = ref(false);
const currentStore = ref(null);
function openEditOrAddDialog(item)
{
    currentStore.value = item;
    editOrAddDialogModal.value = true;
}

function closeEditOrAddDialog()
{
    editOrAddDialogModal.value = false;
}

</script>

<template>
<div class="overflow-x-auto mb-5">
    <Collapsible v-model:open="isOpen">
        <div class="flex justify-between mb-3">
            <h1 class="text-2xl font-semibold">Точки продаж</h1>
            <div>
                <CollapsibleTrigger>
                <Button variant="outline">{{ isOpen ? translate['hide_filter'] : translate['show_filter'] }}</Button>
                </CollapsibleTrigger>
                <Button variant="omarket" class="ml-3" @click="openEditOrAddDialog(null)">+ {{ translate['add_poses_btn'] }}</Button>
            </div>
        </div>
        <CollapsibleContent>
            <StoreFilter @updated="setFilters"></StoreFilter>
        </CollapsibleContent>
    </Collapsible>
    <div class="relative overflow-x-auto rounded-md border border-slate-200">
        <Table>
            <TableHeader>
                <TableRow>
                    <TableHead>№</TableHead>
                    <TableHead>{{ translate['id_poses_text'] }}</TableHead>
                    <TableHead>{{ translate['kato'] }}</TableHead>
                    <TableHead>{{ translate['nas_punkt'] }}</TableHead>
                    <TableHead>{{ translate['address'] }}</TableHead>
                    <TableHead>{{ translate['self_delivery'] }}</TableHead>
                    <TableHead>{{ translate['self_export'] }}</TableHead>
                    <TableHead>{{ translate['activity'] }}</TableHead>
                    <TableHead></TableHead>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow v-for="(item, index) in stores">
                    <TableCell>
                        {{ item.id }}
                    </TableCell>
                    <TableCell class="font-medium text-blue-600 hover:underline">
                        <span class="cursor-pointer select-none" @click="openEditOrAddDialog(item)">{{item.name}}</span>
                    </TableCell>
                    <TableCell>
                        {{ item.kato }}
                    </TableCell>
                    <TableCell>
                        {{ item.city_name.name }}
                    </TableCell>
                    <TableCell>
                        <template v-if="item.self_delivery_point === false">
                            {{ item.street_type_name ? item.street_type_name.name_ru : ''  }} {{ item.street_name }} {{ item.building }}, {{ item.office }}
                        </template>
                    </TableCell>
                    <TableCell>
                        <Checkbox :disabled="item.is_changing" :checked="item.self_delivery_point"/>
                    </TableCell>
                    <TableCell>
                        <Checkbox :disabled="item.is_changing"  :checked="item.self_export_available"/>
                    </TableCell>
                    <TableCell>
                        <Switch :disabled="item.is_changing" :checked="item.active"  @click="changeValue(index, 'active')"></Switch>
                    </TableCell>
                    <TableCell>
                        <DropdownMenu>
                            <DropdownMenuTrigger>
                                <svg width="15px" height="15px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000" class="bi bi-three-dots-vertical">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                            </DropdownMenuTrigger>
                            <DropdownMenuContent>
                                <DropdownMenuItem class="flex">
                                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 2H3C1.89543 2 1 2.89543 1 4V16C1 17.1046 1.89543 18 3 18H15C16.1046 18 17 17.1046 17 16V10M6 13V10.5L14.75 1.75C15.4404 1.05964 16.5596 1.05964 17.25 1.75V1.75C17.9404 2.44036 17.9404 3.55964 17.25 4.25L12.5 9L8.5 13H6Z" stroke="#ACACAC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span @click="openEditOrAddDialog(item)">
                                        <span class="ml-2">{{ translate['edit'] }}</span>
                                    </span>
                                </DropdownMenuItem>
                                <DropdownMenuItem class="flex" @click="showDeleteDialogModal(item.id)">
                                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 5.99989V16.9999C2 18.1045 2.89543 18.9999 4 18.9999H12C13.1046 18.9999 14 18.1045 14 16.9999V5.99989M2 5.99989H1M2 5.99989H4H12H14M14 5.99989H15M6 9.99989V14.5225M10 9.99989V14.5225M4.50854 3.14771V3.14771C4.50854 2.3898 5.12295 1.77539 5.88087 1.77539H10.2809C11.0389 1.77539 11.6533 2.3898 11.6533 3.14771V3.14771" stroke="#ACACAC" stroke-width="2" stroke-linecap="square" stroke-linejoin="bevel"/>
                                    </svg>
                                    <span class="ml-2">{{ translate['delete'] }}</span>
                                </DropdownMenuItem>
                            </DropdownMenuContent>
                        </DropdownMenu>
                    </TableCell>
                </TableRow>
            </TableBody>
            <AlertDialog :open="openModal">
                <AlertDialogContent>
                    <AlertDialogHeader>
                        <AlertDialogTitle>{{ translate['delete_alert_title'] }}</AlertDialogTitle>
                        <AlertDialogDescription>
                            {{ translate['delete_alert_text'] }}?
                        </AlertDialogDescription>
                    </AlertDialogHeader>
                    <AlertDialogFooter>
                        <AlertDialogCancel @click="closeDeleteDialogModal">{{ translate['no'] }}</AlertDialogCancel>
                        <AlertDialogAction @click="deleteAction">{{ translate['yes']}}</AlertDialogAction>
                    </AlertDialogFooter>
                </AlertDialogContent>
            </AlertDialog>
        </Table>
    </div>
    <div class="mt-5 flex justify-between">
        <PageSize :page-size="pageSize" @updatePageSize="updatePageSize">
            {{ translate['on_page'] }}
        </PageSize>
        <Pagination v-slot="{ page }" :total="totalCount" :sibling-count="1" show-edges :default-page="1" :items-per-page="pageSize" :page="currentPage">
            <PaginationList v-slot="{ items }" class="flex items-center gap-1">
                <PaginationFirst @click="setPage(1)" />
                <PaginationPrev @click="setPage(currentPage - 1)" />
                <template v-for="(item, index) in items">
                    <PaginationListItem v-if="item.type === 'page'" :key="index" :value="item.value" as-child>
                        <Button @click="setPage(item.value)" class="w-10 h-10 p-0" :variant="item.value === page ? 'default' : 'outline'">
                            {{ item.value }}
                        </Button>
                    </PaginationListItem>
                    <PaginationEllipsis v-else :key="item.type" :index="index" />
                </template>
                <PaginationNext @click="setPage(currentPage + 1)" />
                <PaginationLast @click="setPage(lastPage)" />
            </PaginationList>
        </Pagination>
    </div>
</div>
<AlertDialog :open="editOrAddDialogModal">
    <AlertDialogContent>
        <AlertDialogHeader>
            <AlertDialogTitle class="text-2xl flex justify-between mb-4">
                <span> {{currentStore ? translate['edit_store_title'] : translate['add_store_title'] }}</span>
                <span class="cursor-pointer flex items-center pt-1" @click="closeEditOrAddDialog">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4212 2.49007C14.8117 2.09954 14.8117 1.46638 14.4212 1.07585C14.0307 0.685328 13.3975 0.685328 13.007 1.07585L7.74733 6.33551L2.48836 1.07654C2.09783 0.68601 1.46467 0.68601 1.07414 1.07654C0.683619 1.46706 0.683619 2.10022 1.07414 2.49075L6.33312 7.74973L1.07414 13.0087C0.683619 13.3992 0.683619 14.0324 1.07414 14.4229C1.46467 14.8134 2.09783 14.8134 2.48836 14.4229L7.74733 9.16394L13.007 14.4236C13.3975 14.8141 14.0307 14.8141 14.4212 14.4236C14.8117 14.0331 14.8117 13.3999 14.4212 13.0094L9.16155 7.74973L14.4212 2.49007Z" fill="#4D4D4D"/>
                    </svg>
                </span>
            </AlertDialogTitle>
            <AlertDialogDescription>
                <UpdateStore @saved="updateData" :item="currentStore"></UpdateStore>
            </AlertDialogDescription>
        </AlertDialogHeader>
        <AlertDialogFooter>
        </AlertDialogFooter>
    </AlertDialogContent>
</AlertDialog>
</template>
