<script setup>
import axios from '@/plugins/axios.js';
import {ref} from "vue";

import { useForm } from 'vee-validate';
import { Input } from '@/components/ui/input/index.js';
import { Button } from '@/components/ui/button/index.js';
import { Checkbox } from '@/components/ui/checkbox/index.js';
import {Label} from "@/components/ui/label/index.js";
import CityPicker from "@/components/custom/CityPicker.vue";
import {
    Select,
    SelectContent,
    SelectGroup,
    SelectItem,
    SelectTrigger,
    SelectValue,
} from '@/components/ui/select/index.js';
import {
    FormControl,
    FormField,
    FormItem,
    FormLabel,
} from '@/components/ui/form/index.js';

import {
    AlertDialog,
    AlertDialogAction,
    AlertDialogContent,
    AlertDialogFooter,
    AlertDialogHeader,
    AlertDialogTitle,
} from '@/components/ui/alert-dialog'


const data = window.__data ?? {};
const translate = data.translate;
const process = ref(false);

const store = data.store;
const storeId = store ? store.id : null;
const cityName = store ? store.city_name.name : null;

const dialogOpen = ref(false);
const dialogText = ref(null);

const selfDeliveryMode = ref(true);

const form = useForm({
    initialValues: {
        id: store ? store.id : null,
        region_id: store ? store.region_id : null,
        street_type_id: store ? String(store.street_type_id) : '',
        street_name: store ? store.street_name : null,
        building: store ? store.building : null,
        office: store ? store.office : null,
        self_delivery_point: store ? store.self_delivery_point : false,
        self_export_available: store ? store.self_export_available : false,
    },
});

//Если тыкнули точку самопривоза очищать выбор населённого пункта
const cityPicker = ref();

const onSubmit = form.handleSubmit((values) => {
    process.value = true;
    axios.post(data.postUrl, values)
        .then((response) => {
            dialogOpen.value = true;
            dialogText.value = response.data.message;
            if (!storeId) {
                form.resetForm();
                cityPicker.value.clearData();
            }
        }, (response) => {
            dialogOpen.value = true;
            dialogText.value = Object.values(response.response.data.errors).flatMap(error => error).join(", ");
        }).finally(() => {
            process.value = false;
        });
});

function closeModal()
{
    dialogOpen.value = false;
}
</script>

<template>
    <form class="bg-white border rounded px-8 pt-6 pb-8" @submit="onSubmit">
        <FormField v-if="storeId" v-slot="{ componentField }" name="region_id">
            <FormItem class="mb-4">
                <FormControl>
                    <Input type="hidden" :value="store.id" v-bind="componentField" />
                </FormControl>
            </FormItem>
        </FormField>
        <FormField v-if="form.values.self_delivery_point" v-slot="{ componentField }" name="region_id">
            <FormItem class="mb-4">
                <FormLabel>{{ translate['nasPunkt'] }}*</FormLabel>
                <FormControl>
                        <Select v-bind="componentField">
                            <SelectTrigger>
                                <SelectValue :placeholder="translate['placeholder_nas_punkt']" />
                            </SelectTrigger>
                            <SelectContent>
                                <SelectGroup>
                                    <template v-for="item in data.selfDeliveryPoints">
                                        <SelectItem :value="item.city_id">
                                            {{ item.name.name }}
                                        </SelectItem>
                                    </template>
                                </SelectGroup>
                            </SelectContent>
                        </Select>
                </FormControl>
            </FormItem>
        </FormField>
        <FormField v-else v-slot="{ value, handleChange }" name="region_id">
            <FormItem class="mb-4">
                <FormLabel>{{ translate['nasPunkt'] }}*</FormLabel>
                <FormControl>
                    <CityPicker @select="handleChange"
                                v-bind:self_delivery_point="form.values.self_delivery_point"
                                ref="cityPicker"
                                :input_data="cityName"
                                :placeholder="translate['placeholder_nas_punkt']"
                    />
                </FormControl>
            </FormItem>
        </FormField>
        <FormField v-slot="{ componentField }" name="street_type_id">
            <FormItem class="mb-4">
                <FormLabel>{{ translate['streetType'] }}*</FormLabel>
                <FormControl>
                    <Select :disabled="form.values.self_delivery_point" v-bind="componentField">
                        <SelectTrigger>
                            <SelectValue :placeholder="translate['placeholder_street_type']" />
                        </SelectTrigger>
                        <SelectContent>
                            <SelectGroup>
                                <template v-for="item in data.dictionaries['streetTypes']">
                                    <SelectItem :value="String(item.id)">
                                        {{ item.name_ru }}
                                    </SelectItem>
                                </template>
                            </SelectGroup>
                        </SelectContent>
                    </Select>
                </FormControl>
            </FormItem>
        </FormField>
        <FormField v-slot="{ componentField }" name="street_name">
            <FormItem class="mb-4">
                <FormLabel>{{ translate['street'] }}*</FormLabel>
                <FormControl>
                    <Input :disabled="form.values.self_delivery_point" type="text" :placeholder="translate['placeholder_street']" v-bind="componentField" />
                </FormControl>
            </FormItem>
        </FormField>
        <div class="grid grid-cols-2 gap-4 mb-4">
            <FormField class="w-full" v-slot="{ componentField }" name="building">
                <FormItem class="mb-4">
                    <FormLabel>{{ translate['home'] }}/{{ translate['building'] }}*</FormLabel>
                    <FormControl>
                        <Input :disabled="form.values.self_delivery_point" type="text" :placeholder="translate['placeholder_number']" v-bind="componentField" />
                    </FormControl>
                </FormItem>
            </FormField>
            <FormField class="w-full" v-slot="{ componentField }" name="office">
                <FormItem class="mb-4">
                    <FormLabel>{{ translate['apartment'] }}</FormLabel>
                    <FormControl>
                        <Input :disabled="form.values.self_delivery_point" type="text" :placeholder="translate['placeholder_number']" v-bind="componentField" />
                    </FormControl>
                </FormItem>
            </FormField>
        </div>
        <div class="flex justify-start mb-4">
            <FormField v-slot="{ value, handleChange }" type="checkbox" name="self_delivery_point">
                <FormItem class="w-full">
                    <FormControl>
                        <Checkbox id="self_delivery" class="mr-3" :checked="value" @update:checked="handleChange" />
                        <Label for="self_delivery">{{ translate['self_delivery'] }}</Label>
                    </FormControl>
                </FormItem>
            </FormField>
            <FormField v-slot="{ value, handleChange }" type="checkbox" name="self_export_available">
                <FormItem class="w-full">
                    <FormControl>
                        <Checkbox :disabled="form.values.self_delivery_point" class="mr-3" id="self_export" :checked="value" @update:checked="handleChange" />
                        <Label for="self_export">{{ translate['self_export'] }}</Label>
                    </FormControl>
                </FormItem>
            </FormField>
        </div>
        <div class="flex items-center justify-end mt-5">
            <Button type="submit" :disabled="process">
                {{ data.button }}
            </Button>
        </div>
    </form>

    <AlertDialog :open="dialogOpen">
        <AlertDialogContent>
            <AlertDialogHeader>
                <AlertDialogTitle> {{ dialogText }}</AlertDialogTitle>
            </AlertDialogHeader>
            <AlertDialogFooter>
                <AlertDialogAction @click="closeModal">{{ translate['close'] }}</AlertDialogAction>
            </AlertDialogFooter>
        </AlertDialogContent>
    </AlertDialog>
</template>
